/* Efect shake + flash pentru avion distrus */
@keyframes shakeFlash {
  0% { transform: translate(0,0); background-color: black; }
  25% { transform: translate(-2px,2px); background-color: darkred; }
  50% { transform: translate(2px,-2px); background-color: black; }
  75% { transform: translate(-2px,2px); background-color: darkred; }
  100% { transform: translate(0,0); background-color: black; }
}

.destroyed-cell {
  border: 2px solid red !important;
  color: white;
  animation: shakeFlash 0.5s ease forwards;
}
