<div class="row">
	<table>
		<thead>
			<tr>
				<th><b>Nume</b></th>
				<th><b>Prenume</b></th>
				<th><b>Data nasterii</b></th>
				<th><b>E-mail</b></th>
				<th><b>Telefon</b></th>
				<th><b>Specializare</b></th>
				<th><b>Grupa</b></th>
				<th><input type="button" value="Adauga" onclick="goTo('add')"/></th>
			</tr>
		</thead>
		<tbody>
			#{students}
			<tr>
				<td>${lastName}</td>
				<td>${firstName}</td>
				<td>${bornDate}</td>
				<td>${email}</td>
				<td>${phone}</td>
				<td>${section}</td>
				<td>${group}</td>
				<td>
					<input type="button" value="Sterge" onclick="goTo('remove/${id}')"/>
					<input type="button" value="Editeaza" onclick="goTo('edit/${id}')"/>
				</td>
			</tr>
			#{/students}
		</tbody>
		<tfoot>
			?{noStudents}
			<tr>
				<td colspan="8">Nu exista nicio inregistrare, apasati butonul 'Adauga'.</td>
			</tr>
			?{/noStudents}
		</tfoot>
	</table>
</div>