<din class="matches">
	<p class="match">
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th colspan="4" class="title">${stage} (${date})</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="match-team">
						<a href="javascript:void(0)" onclick="loadMatches('${homeTeam}')">${homeTeam}</a>
					</td>
					<td>
						<img src="images/${homeTeam}.png" class="flag">
					</td>
					<td>
						<img src="images/${awayTeam}.png" class="flag">
					</td>
					<td class="match-team"">
						<a href="javascript:void(0)" onclick="loadMatches('${awayTeam}')">${awayTeam}</a>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="match-score">
						${homeScore}
					</td>
					<td colspan="2" class="match-score">
						${awayScore}
					</td>
				</tr>
			</tbody>
		</table>
	</p>
	<p class="title">
		<a href="javascript:void" onclick="loadBoard()">Home</a>
	</p>
</din>