<din class="matches">
	<p class="match">
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th colspan="2" class="title">${localDate}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td nowrap style="width:15em;text-align:right;">
						<a href="javascript:void(0)" onclick="loadMatches($homeId)">${homeTeam}</a>
						<img src="${homeFlag}" class="flag">
					</td>
					<td nowrap style="width:15em;text-align:left;">
						<img src="${awayFlag}" class="flag">
						<a href="javascript:void(0)" onclick="loadMatches($awayId)">${awayTeam}</a>
					</td>
				</tr>
				<tr>
					<td style="width:50%;text-align:right;">
						${homeScore}
					</td>
					<td style="width:50%;text-align:left;">
						${awayScore}
					</td>
				</tr>
			</tbody>
		</table>
	</p>
	<p>
		<a href="javascript:void" onclick="loadBoard()">Back</a>
	</p>
</din>