<din class="matches">
	<ol>
		<li>
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2">${localDate}</td>
				</tr>
				<tr>
					<td nowrap style="width:50%;text-align:right;">
						${homeTeam}
						<img src="${homeFlag}" class="flag">
					</td>
					<td nowrap style="width:50%;text-align:left;">
						${awayTeam}
						<img src="${awayFlag}" class="flag">
					</td>
				</tr>
				<tr>
					<td style="width:50%;text-align:right;">
						${homeScore}
					</td>
					<td style="width:50%;text-align:left;">
						${awayScore}
					</td>
				</tr>
			</table>
		</li>
	</ol>
	<div>
		<a href="javascript:void" onclick="loadBoard()">Back</a>
	</div>
</din>