<form data-id="${id}">
    <table>
        <tr>
            <td align="right">
                <b>Title</b>
            </td>
            <td>
                <input type="text" data="title" value="${title}">
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <b>Content</b>
            </td>
            <td>
                <textarea data="content" rows="20" cols="30">${content}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Save">
                ?{existing: '${id}'.length > 0}
                <input type="reset" value="Remove">
                ?{/existing}
                <input type="button" value="Cancel">
            </td>
        </tr>
    </table>
</form>
